---
---

@charset "utf-8";

@import "devlopr";
html[data-theme="dark"] { --bold-color: rgb(188, 188, 188); --box-background-color: hsl(0, 0%, 20%); --highlight-color: hsl(0, 0%, 60%); --light-border-color: hsl(0, 0%, 30%); --light-text-color: rgb(199, 199, 204); --link-color: #f69801; --link-color-visited: hsl(250, 100%, 60%); --main-background-color: rgb(28, 28, 30); --main-text-color: rgb(139, 139, 139); --medium-text-color: hsl(0, 0%, 70%); --underline-color: hsl(0, 0%, 50%); --social-link-color: #ffffff; --card-background-color: rgb(32, 32, 34); --newsletter-background-color: #222324; --button-background-color: #111; }

html, html[data-theme="light"] { --bold-color: rgb(188, 188, 188); --box-background-color: hsl(0, 0%, 20%); --highlight-color: hsl(0, 0%, 60%); --light-border-color: hsl(0, 0%, 30%); --light-text-color: rgb(199, 199, 204); --link-color: #f69801; --link-color-visited: hsl(250, 100%, 60%); --main-background-color: rgb(28, 28, 30); --main-text-color: rgb(139, 139, 139); --medium-text-color: hsl(0, 0%, 70%); --underline-color: hsl(0, 0%, 50%); --social-link-color: #ffffff; --card-background-color: rgb(32, 32, 34); --newsletter-background-color: #222324; --button-background-color: #111; }

@media (prefers-color-scheme: dark) { /* Dark Mode */ html, html[data-theme="dark"] { --bold-color: rgb(188, 188, 188); --box-background-color: hsl(0, 0%, 20%); --highlight-color: hsl(0, 0%, 60%); --light-border-color: hsl(0, 0%, 30%); --light-text-color: rgb(199, 199, 204); --link-color: #f69801; --nav-color: #131313; --search-color: #FF7901; --nav-link-color: rgba(255, 255, 255, .5); --link-color-visited: hsl(250, 100%, 60%); --main-background-color: rgb(28, 28, 30); --main-text-color: rgb(139, 139, 139); --medium-text-color: hsl(0, 0%, 70%); --underline-color: hsl(0, 0%, 50%); --social-link-color: #ffffff; --card-background-color: rgb(32, 32, 34); --newsletter-background-color: #222324; --button-background-color: #111; } /* Light Mode */ html[data-theme="light"] { --bold-color: rgb(188, 188, 188); --box-background-color: hsl(0, 0%, 20%); --highlight-color: hsl(0, 0%, 60%); --light-border-color: hsl(0, 0%, 30%); --light-text-color: rgb(199, 199, 204); --link-color: #f69801; --nav-color: #131313; --search-color: #FF7901; --nav-link-color: rgba(255, 255, 255, .5); --link-color-visited: hsl(250, 100%, 60%); --main-background-color: rgb(28, 28, 30); --main-text-color: rgb(139, 139, 139); --medium-text-color: hsl(0, 0%, 70%); --underline-color: hsl(0, 0%, 50%); --social-link-color: #ffffff; --card-background-color: rgb(32, 32, 34); --newsletter-background-color: #222324; --button-background-color: #111; } }
  
 tml, html[data-theme="dark"], html[data-theme="light"] { height: 100%; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; scroll-behavior: smooth; }
/* custom css goes below */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  empty-cells: show;

}
th, td {
  padding: 15px;
}


