---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
<style>
html[data-theme="dark"] { --bold-color: rgb(188, 188, 188); --box-background-color: hsl(0, 0%, 20%); --highlight-color: hsl(0, 0%, 60%); --light-border-color: hsl(0, 0%, 30%); --light-text-color: rgb(199, 199, 204); --link-color: #f69801; --link-color-visited: hsl(250, 100%, 60%); --main-background-color: rgb(28, 28, 30); --main-text-color: rgb(139, 139, 139); --medium-text-color: hsl(0, 0%, 70%); --underline-color: hsl(0, 0%, 50%); --social-link-color: #ffffff; --card-background-color: rgb(32, 32, 34); --newsletter-background-color: #222324; --button-background-color: #111; }

html, html[data-theme="light"] { --bold-color: rgb(188, 188, 188); --box-background-color: hsl(0, 0%, 20%); --highlight-color: hsl(0, 0%, 60%); --light-border-color: hsl(0, 0%, 30%); --light-text-color: rgb(199, 199, 204); --link-color: #f69801; --link-color-visited: hsl(250, 100%, 60%); --main-background-color: rgb(28, 28, 30); --main-text-color: rgb(139, 139, 139); --medium-text-color: hsl(0, 0%, 70%); --underline-color: hsl(0, 0%, 50%); --social-link-color: #ffffff; --card-background-color: rgb(32, 32, 34); --newsletter-background-color: #222324; --button-background-color: #111;  }

@media (prefers-color-scheme: dark) { /* Dark Mode */ html, html[data-theme="dark"] { --bold-color: rgb(188, 188, 188); --box-background-color: hsl(0, 0%, 20%); --highlight-color: hsl(0, 0%, 60%); --light-border-color: hsl(0, 0%, 30%); --light-text-color: rgb(199, 199, 204); --link-color: #f69801; --nav-color: #131313; --search-color: #FF7901; --nav-link-color: rgba(255, 255, 255, .5); --link-color-visited: hsl(250, 100%, 60%); --main-background-color: rgb(28, 28, 30); --main-text-color: rgb(139, 139, 139); --medium-text-color: hsl(0, 0%, 70%); --underline-color: hsl(0, 0%, 50%); --social-link-color: #ffffff; --card-background-color: rgb(32, 32, 34); --newsletter-background-color: #222324; --button-background-color: #111; } }

html, html[data-theme="dark"], html[data-theme="light"] { height: 100%; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; scroll-behavior: smooth; }


</style>
{%- include head.html -%}
<body>
        {%- include header.html -%}
        <div class="col-lg-12">
            {{ content }}
        </div>
         <div class="col-lg-12" id="newsletter_footer">
         </div>
        {%- include footer.html -%}
     <script>
            var options = {
                classname: 'my-class',
                id: 'my-id'
            };
            var nanobar = new Nanobar( options );
            nanobar.go( 30 );
            nanobar.go( 76 );
            nanobar.go(100);
        </script>

   <div hidden id="snipcart" data-api-key="Y2I1NTAyNWYtMTNkMy00ODg0LWE4NDItNTZhYzUxNzJkZTI5NjM3MDI4NTUzNzYyMjQ4NzU0"></div>
   <script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js" defer></script>
   <script src="{{site.url}}{{site.baseurl}}/assets/js/mode-switcher.js"></script>

</body>
</html>
